<p style="color: green"><%= notice %></p>

<%= link_to "New post", new_post_path %>

<h1>Posts</h1>

<div id="posts"></div>
<%= turbo_frame_tag "pagination", src: posts_path(format: :turbo_stream), loading: :lazy %>
